body{
    max-width: 1354px;
    background: rgb(72,29,101);
background: linear-gradient(90deg, rgba(72,29,101,1) 13%, rgba(179,11,163,1) 38%, rgba(125,71,149,1) 60%, rgba(90,120,217,1) 70%, rgba(74,144,228,1) 74%, rgba(75,176,221,1) 81%, rgba(118,204,242,1) 99%);
margin: auto;
}
h1{ 
    padding: 10px 10px;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
}
main{
    margin: 0 10%;
}
section{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.304); 
    display: flex;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.6)0px 2px 1px;   
}
img{
    height: 225px;
    width: 300px;
    margin: 5px;
    padding: 10px;
}
img:hover{
    height: 275px;
    width: 350px;
}
h3{
    flex-direction: column;
    color: #F4A460;
    margin-bottom: 0.5rem;
}
p{
    font-size: 1rem;
    flex-direction: column;
    color: white;
    text-indent: 0.7rem;
    margin-right: 0.5rem;
    margin-top: 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 2px;
    border: 1px solid black;
    background-color: #FF7F50;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 1rem;
    text-align: center;
    padding: 1rem;
}
a:hover{
    cursor: pointer;
    padding: 1.2rem;
}
.card-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
